body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  background: linear-gradient(to right, #D8F5DA, #EBF8FF);
}

.navbar {
  width: 95%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 50px;
  margin: auto;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img {
  height: 60px;
  margin-left: 20%;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
}

.nav-center a {
  margin-right: 50px;
  font-family: 'Inter', sans-serif;
  color: #6694b0;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-right img {
  border-radius: 50%;
  height: 50px;
  margin-right: 6px;
}
