body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  background: linear-gradient(to right, #D8F5DA, #EBF8FF);
  font-family: 'Inter', sans-serif;
}

.navbar {
  width: 95%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 50px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img {
  height: 60px;
  margin-left: 20%;
}

.nav-left span {
  width: 1px;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.35);
  margin-left: 50px;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.nav-center a {
  margin-right: 50px;
  color: #6694b0;
  font-size: 3rem;
  font-weight: bolder;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-right img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
}

.mobile-menu {
  width: 100%;
  height: 80px;
  background-color: #F9F9F9;
  display: none;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
}

.mobile-menu-interface {
  transition: translate 200ms ease-in-out;
  width: 100vw;
  height: 100dvh;
  height: 100vh;
  position: fixed;
  right: -100vw;
}

.hamburger {
  margin-right: 20px;
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #70906B;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.mobile-menu img {
  height: 60%;
  margin-left: 20px;
}

.hamburger input:checked ~ .mobile-menu-interface {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(127, 255, 127, 0.5);
}

@media only screen and (max-width: 820px) {
  .mobile-menu {
    display: flex;
  }

  .card-holder {
    margin-top: 500px;
  }

  .navbar {
    display: none;
  }
}

.card-holder {
  margin-top: 100px;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  margin: 0px 50px;
}

.card {
  margin-top: 50px;
  height: 500px;
  width: 400px;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #70906B;
}

/* For cards */
@media only screen and (max-width: 1000px) {
  .card-holder {
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .card {
    height: 400px;
    width: 60%;
    min-width: 300px;
  }
  .button-holder {
    flex-shrink: 1;
  }
}

.card a {
  margin-bottom: 40px;
  height: 60px;
  width: 70%;
  background-color: #DAE8E3;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #686868;
  font-weight: bolder;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  line-height: 200%;
}

.card a:hover {
  background-color: green;
}

.button-holder {
  width: 100%;
  height: min(400px, max(30vw, 200px));
  display: flex;
  align-items: center;
  justify-content: center;
}


.button-holder button {
  height: 80px;
  width: min(400px, 60vw);
  background-image: radial-gradient(rgba(0, 0, 0, 0.5) 1px, #72a18f 0);
  background-size: 20px 20px;
  font-weight: bolder;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 15px;
  font-size: min(3rem, 8vw);
  cursor: pointer;
  color: white;
}
